@charset "UTF-8";

/*---Reset---*/
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

html {
}

body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

/*クラス定義*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	display: inline-table;
}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
*+html .clearfix{min-height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*--- ページ基本デザイン ---*/

#main_service {
	position: relative;
}

#main_service::before{
	background-image: url(../img/office-865091_1920.jpg);
	background-size: cover;
	background-position: center;
	content: "";
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
}


#navi {
	background-color: #167288;
	/* background:rgba(53,92,125,1); */
	/* background-color: rgba(53,92,125,0.7); */
	/* margin-bottom: 40px; */
	width: 70%;
	margin: 0 auto 40px auto;
	border: solid 2px #167288;
	padding: 15px;
	border-radius: 10px;
	display: flex;
}

#people img {
	width: 150px;
	height: 150px;
	margin: 52px 0 0 40px;
}

#right img {
	width: 55px;
	height: 50px;
	margin: 92px 15px;
}

#people_coming img {
	margin: 0 auto;
	width: 150px;
	height: 150px;
	margin: 0 auto;

}

#right_coming img {
	display: none;
	width: 55px;
	height: 50px;
	margin: 92px 15px;
}


#navi_all_font {
	margin: 20px 0 0 20px;
}


#navi_all_font .navi_font {
	font-size: 25px;
	font-weight: 200;
	line-height: 1.33333333;
	letter-spacing: 0.1em;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	margin: 0 auto;
	color: #EEEEEE;
}

#navi_all_font .navi_second_font {
	color: white;
	font-size: 14px;
	padding-top: 20px;
	/* text-align: center; */
}

#navi_k {
	background-color: #549c9c;
	/* margin-bottom: 40px; */
	width: 70%;
	margin: 0 auto 40px auto;
	border: solid 2px #549c9c;
	padding: 15px;
	border-radius: 10px;
	display: flex;
}

#coming p{
	font-size: 40px;
	font-weight: 200;
	line-height: 1.33333333;
	letter-spacing: 0.1em;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	width: 314px;
	margin: 0 auto;
	color: #EEEEEE;
}

#navi_y {
	background-color: #2da6b7;
	/* margin-bottom: 40px; */
	width: 70%;
	margin: 0 auto 40px auto;
	border: solid 2px #2da6b7;
	padding: 15px;
	border-radius: 10px;
	display: flex;
	display: block;
}

#navi_j {
	background-color: #86c5d6;
	/* margin-bottom: 40px; */
	width: 70%;
	margin: 0 auto 40px auto;
	border: solid 2px #86c5d6;
	padding: 15px;
	border-radius: 10px;
	display: flex;
	display: block;
}


#company_font {
	margin: 200px auto 200px auto;
}

#company_font  p{
	font-size: 40px;
	font-weight: 200;
	line-height: 1.33333333;
	letter-spacing: 0.1em;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	width: 314px;
	margin: 0 auto;
	color: #EEEEEE;
}

#main_header_info .btn2 p{
	border-bottom: 1px solid white;
	color: white;
	font-size: 14px;
	line-height: 15px;
	/* font-family: sans-serif; */
	font-family: 'Roboto Slab', serif;
	letter-spacing: 0.12em;
}

#scroll_service {
	/* padding-top: 30px; */
	margin: 244px auto 0 auto;
	text-align: center;
}
 #scroll_service a {
  /* padding-top: 70px; */
	color: white;
}
#scroll_service a span {
  position: absolute;
  top: 23%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@media screen and (max-width:1366px) {

	#main_header {
		width: 80%;
	}
}

@media screen and (max-width:900px) {

	#navi {
		display: block;
		width: 90%;
	}

	#people img {
		margin: 0 auto;
		width: 100px;
		height: 100px;
	}

	#right img {
		display: none;
	}

	#people_coming img {
		margin: 0 auto;
		width: 100px;
		height: 100px;
	}

	#right_coming img {
		display: none;
	}


	#navi_all_font .navi_font{
		font-size: 23px;
	}

	#navi_k {
		display: block;
		width: 90%;
	}

	#navi_y {
		display: block;
		width: 90%;
	}

	#navi_j {
		display: block;
		width: 90%;
	}

	#scroll_service a span {
		top: 20%;
	}

	#company_font p {
		width: 100%;
	}
}

@media screen and (max-width:353px) {
	#scroll_service a span {
		top: 17%;
	}

	#coming p {
		font-size: 25px;
		width: 100%;
	}
}
